<!DOCTYPE html>
<html>
<head>
    <title>RepeatAfterMe.ai</title>

    <!-- css file -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>RepeatAfterMe.ai</h1>
    <hr>

    <a href="/login" class="login-button">Login</a>

    <!-- choose a difficulty -->
    <label for="difficulty">Choose a difficulty:</label>
    <select name="difficulty" id="difficulty">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select>
    
    <br>
    <span id="word">{{ word }}</span>

    <br> <br>
    <button id="change-word-btn">Change Word</button>

    <h3>Record Audio:</h3>
    <button id="record-btn">Start Recording</button>
    <p id="record-status"></p>

    <div class="centered-audio">
        <audio id="audioPlayer" controls style="display:none;"></audio>
    </div>

    <h3>Upload File:</h3>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <!-- submit recording/file button -->
        <input type="hidden" id="hidden-word" name="word" value="{{ word }}">
        <input type="file" name="file" id="fileinput" required> 
        <button type="submit">Submit</button>
    </form>
    <hr>
    <h3>Results:</h3>
    {% if result %}
        <!-- show user recorded audio after submit -->
         {% if audio_data_url %}
            <h4>Your Audio:</h4>
            <audio controls src="{{ audio_data_url }}"></audio>
        {% endif %} 

        <p><strong>Transcribed Text:</strong> {{ result.transcription }}</p>
        <p><strong>Pronunciation Score:</strong> {{ result.score }}</p>
    {% else %}
        <p>No results yet. Upload a file and try.</p>
    {% endif %}

    <!-- voice recording js file -->
    <script src="/static/recorder.js"></script>

    <!-- difficulty selection js file -->
     <script src="/static/difficulty.js"></script>

</body>
</html>
