<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="signed-in-text">
            {% if username %}
                <p>Welcome back, {{ username }}!</p>
            {% else %}
                <p>Practice makes perfect.</p>
            {% endif %}
        </div>

        <div class="site-name">RepeatAfterMe.ai</div>

        <nav class="nav-links">
            <a href="/">Home</a>
            {% if not username %}
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            {% else %}
                <a href="/logout">Logout</a>
            {% endif %}
        </nav>
    </div>
</body>
</html>