<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styles.css">

    <!-- for user icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <div class="navbar">
        <div class="signed-in-text">
            {% if username %}
                <div class="user-dropdown" id="userDropdown">
                    <i class="fa-solid fa-circle-user"></i>
                    <span>{{ username }}</span>

                    <div class="dropdown-menu" id="dropdownMenu">
                        <a href="/word-history">Word History</a>
                        <a href="/saved-words">Saved Words</a>
                    </div>
                </div>
            {% else %}
                <span class="signed-out-text">Sign in to save your progress.</span>
            {% endif %}
        </div>

        <div class="site-name">RepeatAfterMe.ai</div>

        <nav class="nav-links">
            <a href="/">Home</a>
            {% if not username %}
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            {% else %}
                <a href="/logout">Logout</a>
            {% endif %}
        </nav>
    </div>

    <script src="/static/user-dropdown.js"></script>
</body>
</html>