body {
  background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
  height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

#word {
    font-size: 170px;
}