body {
  background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
  height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

#word {
  font-size: 170px;
}

.centered-audio {
  display: flex;
  justify-content: center;
}

.welcome-text {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  margin: 0;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  border: 2px solid white;
}

.login-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 40px;
  background: #111;
  color: #0ff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.login-button:hover {
  background:#005f8a;
}

.signup-button {
  position: absolute;
  top: 20px;
  right: 150px;
  width: 120px;
  height: 40px;
  background: #111;
  color: #0ff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.signup-button:hover {
  background:#005f8a;
}

.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-container form input ,
.login-container form button{
  display: block;
  margin: 0 auto 20px;
  width: 250px;
  padding: 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

.error-text {
  background-color: rgba(245, 1, 1, 0.5);
  color: white;     
  padding: 10px 15px;  
  border-radius: 5px;    
  display: inline-block;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  position: relative;
  top: 100px;
}

.home-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 40px;
  background: #111;
  color: #0ff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.home-button:hover {
  background:#005f8a;
}